-YOU MUST BE 18+ TO BE IN HERE IF FOUND TO BE YOUNGER YOU’LL BE BANNED
-You MUST rp for at least 2 minutes in order to rob players in daytime, and 1 minute at nighttime.(Gangs at war can KOS at night and can do drive bys at any time)
-RDM | Random Death Match is NOT allowed. (Killing someone without any rp)
-VDM | Vehicle Death Match is NOT allow*ed.
(Crashing into someone's car in any way can be considered initiation if you do not apologize.)
-You CANNOT kill the same person within the span of 20 minutes and must forget the previous situation.
-You MUST report ANYONE you suspect of cheating or modding!
-No Server Promoting or Discord promoting of any kind is allowed.
-Do NOT break character under any circumstances!
-Do NOT go out of character in /twitter or /ad unless you are STAFF.
(Use ooc chat only for out of character messages)
-You can NOT kill an officer unless they see you committing a murder, or if the cop has shot you with a lethal weapon first.
-Any Player reports without clips will be dismissed
-Most things are logged I see if you mod or not rather quickly, honestly don't care what you do just don't spawn money and don't use godmode/aimbot!!! Will result in an instant ban
-Do not run from police every time! They like to Roleplay too, running every time ruins their RP. They’re not always out to arrest you! 
-If you run from police every time you’re pulled over you will simply get either community service or in game jail time!
-GANGS! DO NOT CAPTURE YOUR OWN TURFS FOR NO REASON UNLESS YOU'RE PROTECTING IT!
-Gang block red zones are considered K.O.S. areas.
-WHEN USING A WALKING STICK AFTER A DEATH YOU MUST NOT ENGAGE IN COMBAT!!
-If you’re a police officer and you’re in a gang you need a separate character for your officer!!
